html,
body {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  background-image: linear-gradient(#333333, #222222);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 25px;
  margin-top: 25px;
}

h2 {
  font-size: 16px;
  margin: 0 40px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.04em;
}

textarea {
  width: 280px;
  box-sizing: border-box;
  padding: 8px 15px;
  border-radius: 5px;
  resize: none;
  height: 10em;
}

button {
  margin-top: 8px;
  background: #b2835a;
  width: 280px;
  padding: 15px 0;
  color: white;
  border: none;
  border-radius: 5px;
  letter-spacing: 1.1px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #b2835a; /* Change background color on hover */
}

.button-fetching {
  background-color: #aaa; /* Grayed out */
  cursor: progress; /* Loading cursor */
}

.frame {
  background-color: #000;
  border: solid 5vmin #eee;
  border-bottom-color: rgb(111, 78, 55);
  border-left-color: rgb(90, 68, 50);
  border-radius: 2px;
  border-right-color: rgb(90, 68, 40);
  border-top-color: rgb(101, 78, 55);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
    0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vmin; /* Responsive width */
  height: 80vmin; /* Initial height, it will be overridden by media queries */
  max-width: 100%; /* Make sure it does not overflow the body */
  margin: 20px; /* Optional spacing */
}

.frame img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* To keep aspect ratio of the image */
}

/* Media Queries for Landscape and Portrait specific adjustments */
@media (orientation: landscape) {
  .frame {
    height: 56.25vmin; /* 16:9 aspect ratio */
  }
}

@media (orientation: portrait) {
  .frame {
    height: 133.33vmin; /* 3:4 aspect ratio */
  }
}
