/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

/* Header styles */
.header {
  text-align: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  right: 0;
  z-index: 1;
}

.header__title {
  margin: 0;
}

/* Main content styles */
.main-content {
  height: calc(
    100vh - 0px
  ); /* Adjust the height based on the header/footer size */
  overflow: hidden;
}

.image-generator {
  height: 100%;
  position: relative;
  background-image: url("./images/cat-background.png");
  background-size: cover;
  z-index: 0;
}

/* Add this new class */
.image-generator.default-background {
  background-image: url("./images/cat-background.png");
}

/* Apply radial gradient only when there's no loaded image */
.image-generator:not(.image-loaded)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.3) 30%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 0;
}

.image-generator__output-img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  z-index: 1;
}

/* Toolbox styles */
.tool-box {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(43, 40, 40, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  min-width: 250px;
}

.form__group {
  margin-bottom: 1rem;
}

.form__label {
  display: block;
  margin-bottom: 0.5rem;
  color: #fff;
}

.form__textarea,
.form__select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.form__button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #ea8818;
  cursor: pointer;
}

.form__button--fetching {
  background-color: #a8a8a8;
  cursor: not-allowed;
}

.disabled-text {
  color: #6c757d;
}

.form__button--submit {
  margin-bottom: 1rem;
}

.form__button--download {
  display: none;
  background-color: #28a745;
}

/* Footer styles */
.footer {
  padding: 1rem;
  /* background-color: rgba(255, 255, 255, 0.9); */
  background-color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.footer__text {
  margin: 0;
  color: #fff;
}
